/* pp_style.css */

/* EECS 581: Group 21 Project 3
 * The CSS Styling Section for Picture Poker
 * of Codesino.
 */

 h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
 }

 #top {
   text-align: center;
 }

 #bottom {
   text-align: center;
 }

 #user_bar {
  text-align: center;
 }

 #discard_button {
  width: 500px;
  height: 50px;
 }

 #back {
  position: fixed;
  width: 200px;
  height: 75px;
  bottom: 20px;
  left: 20px;
 }

/* Card Designs
 * CSS Styling for All Rank Cards
 * CSS Styling for Hidden Card
 */
.card {
  width: 150px;
  height: 200px;
  background-size: cover;
  border-radius: 10px;
  border: 3px solid;
  margin: 3px;
  display: inline-block;
  
}

/* Interactive Card Design */
.user { cursor: pointer; }

/* Selected Card Design*/
.selected {border-color: red; transform: translateY(-10px);}

/* Hidden Card Design */
.hidden { background-image: url(../images/picture_poker_cards/card__back.png) !important;}

 /* Rank Card Designs */
#S_CARD { background-image: url(../images/picture_poker_cards/card_S_Rank.png); }
#A_CARD { background-image: url(../images/picture_poker_cards/card_A_Rank.png); }
#B_CARD { background-image: url(../images/picture_poker_cards/card_B_Rank.png); }
#C_CARD { background-image: url(../images/picture_poker_cards/card_C_Rank.png); }
#D_CARD { background-image: url(../images/picture_poker_cards/card_D_Rank.png); }
#F_CARD { background-image: url(../images/picture_poker_cards/card_F_Rank.png); }

