/* pp_style.css */

/* EECS 581: Group 21 Project 3
 * The CSS Styling Section for Picture Poker
 * of Codesino.
 */

body {
  background-color: #006400;
  color: white;
}

 h1 {
    text-align: center;
    font-family: fantasy;
    font-size: 5px;
 }

 #guide-table {
  width: auto;
  height: 450px;
  float: left;

  margin-left: 10px;
  margin-top: 5px;

  border: 7px solid black;
  border-radius: 25px;
 }

 #balance-area {
  margin-left: 20px;
  font-size: 20px;
 }

 #top, #bottom, #user_bar {
   text-align: center;
 }

 #display {
   text-align: center;
 }

 #Game_Section {
  right: 20px;
 }

 #win_display {
  font-size: 30px;
 }

 #increment {
  background-image: linear-gradient(to top, #D4AF37, yellow, #D4AF37);
  border: 1px solid black;

  font-family: fantasy;
  font-size: 20px;
  color: orange;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  height: 30px;
  width: 100px;

  cursor: pointer;
 }

 #discard_button {
  text-align: center;

  background-image: linear-gradient(to top, #D4AF37, yellow, white);
  border: 1px solid black;
  border-radius: 25px;

  font-family: fantasy;
  font-size: 30px;
  color: yellowgreen;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  width: 500px;
  height: 50px;
  cursor: pointer;
 }

 #back {
  position: fixed;
  width: 200px;
  height: 75px;
  bottom: 20px;
  left: 20px;

  background-image: linear-gradient(to top, #D4AF37, yellow, white);
  border: 1px solid black;
  border-radius: 25px;

  font-family: fantasy;
  font-size: 25px;
  color: yellowgreen;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
 }



/* Card Designs
 * CSS Styling for All Rank Cards
 * CSS Styling for Hidden Card
 */
.card {
  width: 150px;
  height: 200px;
  background-size: cover;
  border-radius: 10px;
  border: 3px solid;
  margin: 3px;
  display: inline-block;
  
}

/* Interactive Card Design */
.user { cursor: pointer; }

/* Selected Card Design*/
.selected {border-color: red; transform: translateY(-10px);}

/* Hidden Card Design */
.hidden { background-image: url(../images/picture_poker_cards/card__back.png) !important;}

 /* Rank Card Designs */
#S_CARD { background-image: url(../images/picture_poker_cards/card_S_Rank.png); }
#A_CARD { background-image: url(../images/picture_poker_cards/card_A_Rank.png); }
#B_CARD { background-image: url(../images/picture_poker_cards/card_B_Rank.png); }
#C_CARD { background-image: url(../images/picture_poker_cards/card_C_Rank.png); }
#D_CARD { background-image: url(../images/picture_poker_cards/card_D_Rank.png); }
#F_CARD { background-image: url(../images/picture_poker_cards/card_F_Rank.png); }

