/* pp_style.css */

/* EECS 581: Group 21 Project 3
 * The CSS Styling Section for Picture Poker
 * of Codesino.
 */

 h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
 }

 #back {
    height: 100px;
    width: 500px;
 }