/* ======================================================================== *
 * Prologue Comments for home_style.css                                     *
 * File Name: home_style.css                                                *
 * Authors: Alex Carrillo, Zhang Chen, Ian Foehrweiser, Jack Morice, Evan Zhuo *
 * EECS 581: Group 21 Project 3                                             *
 * ------------------------------------------------------------------------ *
 * Code-sino Homepage Style                                                 *
 * Inputs/Outputs                                                           *
 *  Inputs:     None                                                        *
 *  Outputs:    Website Design                                              *
 * ======================================================================== */

h1 {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

#currency {
    text-align: center;
}

#cat {
    text-align: center;
}

#omega {
    animation: rotate_omega 3s infinite linear;
}

@keyframes rotate_omega {
    from { transform: rotate(0deg);}
    to   { transform: rotate(360deg);}
}

/* Game Select Menu Buttons Styling */
#game_select {
    text-align: center;
    padding: 30px;
}

/* ASCII Art Scrolling Styling */
#ascii-container {
    width: 100%;
    font-weight: bold;
    overflow: hidden;
}

#ascii-track {
    display: flex;
    width: max-content;
    animation: scrollInfinite 25s linear infinite;
}

#ascii-track pre {
    white-space: pre;
    font-family: monospace;
    font-size: 14px;
    padding-right: 50px;
}

@keyframes scrollInfinite {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-20%);
    }
}



body.theme-1 {
    background-color: #f0f8ff;
    color: #000000;
}

body.theme-2 {
    background-color: black;
    color: #ffffff;

    #baccarat, #blackjack, #crash, #picture_poker, #ride_the_bus {
        background-color: gray;
        color: white;
        border: 5px solid white;
    }
}

body.theme-3 {
    background-color: black;
    color: red;

    #baccarat, #blackjack, #crash, #picture_poker, #ride_the_bus {
        background-color: black;
        color: red;
        border: 5px solid red;
    }
}

body.theme-4 {
    background-color: black;
    color: blue;

    #baccarat, #blackjack, #crash, #picture_poker, #ride_the_bus {
        background-color: black;
        color: blue;
        border: 5px solid blue;
    }
}

body.theme-5 {
    background-color: black;
    color: #8B8000;

    #baccarat, #blackjack, #crash, #picture_poker, #ride_the_bus {
        background-color: black;
        color: #8B8000;
        border: 5px solid #8B8000;
    }
}

body.theme-6 {
    background-color: black;
    color: #00ff00;

    #baccarat, #blackjack, #crash, #picture_poker, #ride_the_bus {
        background-color: black;
        color: #00ff00;
        border: 5px solid #00ff00;
    }
}

body.theme-7 {
    background-image: linear-gradient(to top, black, yellow, orange, pink, magenta, purple, darkviolet, black);
    color: hotpink;

    #baccarat, #blackjack, #crash, #picture_poker, #ride_the_bus {
        background-color: #000000;
        border: 5px solid transparent;
        border-image: linear-gradient(to top right, hotpink, magenta, purple, darkviolet);
        border-image-slice: 1;
        color: violet;
        font-family: fantasy;
    }
}

body.theme-8 {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: white;

    #baccarat, #blackjack, #crash, #picture_poker, #ride_the_bus {
        background-color: #302244;
        color: white;
        border: 5px solid transparent;
        border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
        border-image-slice: 1;
    }
}

body.theme-9 {
    background-image: linear-gradient(to right, #C0C0C0, white, #C0C0C0);
    color: #8A9A9A;

    #baccarat, #blackjack, #crash, #picture_poker, #ride_the_bus {
        border: 5px solid gray;
        background-image: linear-gradient(to right, #8A9A9A, white, #8A9A9A);
    }
}

body.theme-10 {
    background-image: url(images/Special_Background.png);
    background-size: cover;
    color: greenyellow;

    #baccarat, #blackjack, #crash, #picture_poker, #ride_the_bus {
        border-top: 5px solid pink; border-left: 5px solid pink;
        border-bottom: 5px solid violet; border-right: 5px solid violet;
        background-image: linear-gradient(to right, darkviolet, darkorchid, white, darkorchid, darkviolet);    
    }
}

body.theme-11 {
    background-image: url(images/minesweeper_W.jpg);
    background-size: cover;

    #baccarat, #blackjack, #crash, #picture_poker, #ride_the_bus {
        border-top: 5px solid white; border-left: 5px solid white;
        border-bottom: 5px solid gray; border-right: 5px solid gray;
        background-color: lightgray;
        font-family: sans-serif;
    }
}

body.theme-12 {
    background-image: linear-gradient(to right, #D4AF37, white, #D4AF37);
    color: #D4AF37;
    font-family: "Lucida Handwriting", cursive, sans-serif;

    #baccarat, #blackjack, #crash, #picture_poker, #ride_the_bus {
        border-top: 5px solid white; border-left: 5px solid white;
        border-bottom: 5px solid darkgoldenrod; border-right: 5px solid darkgoldenrod;
        background-image: linear-gradient(to right, #D4AF37, white, #D4AF37);
        font-family: "Lucida Handwriting", cursive, sans-serif;
    }
}

li {
    list-style-type: none;
    padding: 5px;
}

#baccarat, #blackjack, #crash, #picture_poker, #ride_the_bus {
    width: 950px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    cursor: pointer;
}

#bank_button {
    width: 500px;
    height: 100px;
    background-image: linear-gradient(to right, rgb(0, 162, 232), white, rgb(0, 162, 232));
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

/* Main Flexbox Layout */
#main-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}

#left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
}

#right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    
}

#gooncoin {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
    color: gold;
    text-align: center;
}