/* ======================================================================== *
 * Prologue Comments for home_style.css                                     *
 * File Name: home_style.css                                                *
 * Authors: 
 * EECS 581: Group 21 Project 3                                             *
 * ------------------------------------------------------------------------ *
 * Code-sino Homepage Style                                                 *
 * Inputs/Outputs                                                           *
 *  Inputs:     None                                                        *
 *  Outputs:    Website Design                                              *
 * ======================================================================== */

h1 {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

#currency {
    text-align: center;
}

#cat {
    text-align: center;
}

#omega {
    animation: rotate_omega 3s infinite linear;
}

@keyframes rotate_omega {
    from { transform: rotate(0deg);}
    to   { transform: rotate(360deg);}
}

/* Game Select Menu Buttons Styling */
#game_select {
    text-align: center;
    padding: 30px;
}

/* ASCII Art Scrolling Styling */
#ascii-container {
    width: 100%;
    font-weight: bold;
    overflow: hidden;
}

#ascii-track {
    display: flex;
    width: max-content;
    animation: scrollInfinite 25s linear infinite;
}

#ascii-track pre {
    white-space: pre;
    font-family: monospace;
    font-size: 14px;
    padding-right: 50px;
}

@keyframes scrollInfinite {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-20%);
    }
}



body.theme-1 {
    background-color: #f0f8ff;
    color: #000000;
}

body.theme-2 {
    background-color: #2f4f4f;
    color: #ffffff;
}

body.theme-3 {
    background-color: #fff0f5;
    color: #000000;
}

body.theme-4 {
    background-color: #000000;
    color: #00ff00;
}

body.theme-5 {
    background-color: #51ff00;
    color: #ffffff;
}

body.theme-6 {
    background-color: #ffe4e1;
    color: #8b0000;
}

body.theme-7 {
    background-color: #f5f5dc;
    color: #556b2f;
}

body.theme-8 {
    background-color: #e6e6fa;
    color: #4b0082;
}

body.theme-9 {
    background-color: #f0fff0;
    color: #006400;
}

body.theme-10 {
    background-color: #fffaf0;
    color: #a0522d;
}

li {
    list-style-type: none;
    padding: 5px;
}

#baccarat {
    width: 950px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

#blackjack {
    width: 950px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

#crash {
    width: 950px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

#picture_poker {
    width: 950px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

#ride_the_bus {
    width: 950px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
#bank_button {
    width: 950px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

/* Main Flexbox Layout */
#main-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}

#left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
}

#right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    
}

#gooncoin {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
    color: gold;
    text-align: center;
}