/* ======================================================================== *
 * Prologue Comments for home_style.css                                     *
 * File Name: home_style.css                                                *
 * Authors: 
 * EECS 581: Group 21 Project 3                                             *
 * ------------------------------------------------------------------------ *
 * Code-sino Homepage Style                                                 *
 * Inputs/Outputs                                                           *
 *  Inputs:     None                                                        *
 *  Outputs:    Website Design                                              *
 * ======================================================================== */

h1 {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

#currency {
    text-align: center;
}

#cat {
    text-align: center;
}

#omega {
    animation: rotate_omega 3s infinite linear;
}

@keyframes rotate_omega {
    from { transform: rotate(0deg);}
    to   { transform: rotate(360deg);}
}

/* Game Select Menu Buttons Styling */
#game_select {
    text-align: center;
    padding: 30px;
}

li {
    list-style-type: none;
    padding: 5px;
}

#baccarat {
    width: 950px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

#blackjack {
    width: 950px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

#crash {
    width: 950px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

#picture_poker {
    width: 950px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

#ride_the_bus {
    width: 950px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
#bank_button {
    width: 950px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}