/* ======================================================================== *
 * Prologue Comments for bank.css                                           *
 * File Name: bank.css                                                      *
 * Authors: 
 * EECS 581: Group 21 Project 3                                             *
 * ------------------------------------------------------------------------ *
 * Code-sino Homepage Style                                                 *
 * Inputs/Outputs                                                           *
 *  Inputs:     None                                                        *
 *  Outputs:    Website Design                                              *
 * ======================================================================== */

body {
   background-image: url(../images/SPRINT_BANK_BACKGROUND.png);
   margin-left: 300px;
}

.toolbar {
   background: none;
   border: none;
   font-size: 14px;
   color: black;
   padding-right: 30px;
   cursor: pointer;
}

.toolbar:hover {
   color: rgb(0, 162, 232);
   text-decoration: underline;
   text-decoration-thickness: 3px;
}

 #SPRINT_LOGO {
   margin-top: 20px;
 }

 #back {
    position: fixed;
    width: 200px;
    height: 75px;
    bottom: 20px;
    left: 20px;
 }

 #currency {
    font-size: 30px;
 }

 /* ======================================================================= *
  * Gacha Colors                                                            *
  * ======================================================================= */

  #gacha_button {
   width: 300px;
   height: 150px;
   cursor: pointer;
  }

  .common {
   background-color: rgb(65, 105, 225);
  }

  .rare {
   background-color: rgb(120, 81, 169);
  }

  .ultra {
   background-color: rgb(255, 208, 23);
  }
