/* ======================================================================== *
 * Prologue Comments for bank.css                                           *
 * File Name: bank.css                                                      *
 * Authors: 
 * EECS 581: Group 21 Project 3                                             *
 * ------------------------------------------------------------------------ *
 * Code-sino Homepage Style                                                 *
 * Inputs/Outputs                                                           *
 *  Inputs:     None                                                        *
 *  Outputs:    Website Design                                              *
 * ======================================================================== */