/* ======================================================================== *
 * Prologue Comments for bank.css                                           *
 * File Name: bank.css                                                      *
 * Authors: 
 * EECS 581: Group 21 Project 3                                             *
 * ------------------------------------------------------------------------ *
 * Code-sino Homepage Style                                                 *
 * Inputs/Outputs                                                           *
 *  Inputs:     None                                                        *
 *  Outputs:    Website Design                                              *
 * ======================================================================== */

 #back {
    position: fixed;
    width: 200px;
    height: 75px;
    bottom: 20px;
    left: 20px;
 }

 #currency {
    font-size: 30px;
 }

 /* ======================================================================= *
  * Gacha Colors                                                            *
  * ======================================================================= */

  #gacha_button {
   width: 100px;
   height: 50px;
  }


  .common {
   background-color: rgb(192, 192, 192);
  }

  .rare {
   background-color: rgb(255, 165, 0);
  }

  .ultra {
   background-color: rgb(166, 216, 223);
  }
