/* ======================================================================== *
 * Prologue Comments for bank.css                                           *
 * File Name: bank.css                                                      *
 * Authors: Jack Morice, Evan Zhuo                                          *
 * EECS 581: Group 21 Project 3                                             *
 * ------------------------------------------------------------------------ *
 * Code-sino Homepage Style                                                 *
 * Inputs/Outputs                                                           *
 *  Inputs:     None                                                        *
 *  Outputs:    Website Design                                              *
 * ======================================================================== */

html {
   font-family: sans-serif;
}

body {
   background-image: url(../images/SPRINT_BANK_BACKGROUND.png);
   margin-left: 300px;
   width: fit-content;
   height: fit-content;
}

.toolbar {
   background: none;
   border: none;
   font-size: 14px;
   color: black;
   padding-right: 30px;
   cursor: pointer;
} .toolbar:hover {
   color: rgb(0, 162, 232);
   text-decoration: underline;
   text-decoration-thickness: 3px;
}

#Bank_Main {
   display: grid;
   grid-template-columns: 1fr 1fr;

   border: 6px solid gray;
   border-radius: 10px;

   margin-top: 35px;
   width: 1200px;
   height: 500px;
   background-color: white;
}

#Main_subtitle {
   margin-left: 15px;
   margin-bottom: 0px;
}

#User_Bar, #Bailout_Bar {
 margin-left: 20px;
 padding: 15px;

 border: 4px solid gray;
 width: 400px;
 height: 100px;
}

#Bailout_Section {
   padding: 15px;
   border: 3px solid;
}

#bailout {
   margin-left: 150px;
   width: 130px;
   height: 25px;
   cursor: pointer;
} #bailout:hover {
   background-color: rgb(0, 162, 232);
}

 #SPRINT_LOGO {
   margin-top: 20px;
 }

 #back {
    position: fixed;
    width: 200px;
    height: 75px;
    bottom: 20px;
    left: 20px;
 }

 #currency {
    font-size: 40px;
 }

 #total_checking {
   font-size: 40px;
   margin-top: 30px;
   text-align: right;
 }

 #available_balance {
   margin-top: -45px;
   text-align: right;
 }



 /* ======================================================================= *
  * Shop CSS                                                                *
  * ======================================================================= */

   #Shop_subtitle {
      padding-top: 10px;
      margin-bottom: 0px;

      border: 3px solid gray;

      background-color: rgb(0, 162, 232);
      color: white;
      font-size: 20px;
      text-align: center;

      width: 494px;
      height: 24px;
   }

   #theme_selector_section {
      margin-top: 25px;
   }

   #Theme_Button {
      width: 162px;
      height: 50px;
      margin-bottom: 5px;
   }

   .unlocked {
      cursor: pointer;
   } .locked {
      background-color: gray;
   } .selected {
      background-color: rgb(0, 162, 232, 0.5);
      border: 3px solid gray;
   }



 /* ======================================================================= *
  * Gacha Colors                                                            *
  * ======================================================================= */

  #gacha_button {
   font-size: 20px;
   width: 500px;
   height: 75px;
   cursor: pointer;
  }

  .common {
   background-color: rgb(65, 105, 225);
  }

  .rare {
   background-color: rgb(120, 81, 169);
  }

  .ultra {
   background-color: rgb(255, 208, 23);
  }
