/* ======================================================================== *
 * Prologue Comments for crashstyle.css                                     *
 * File Name: crashstyle.css                                                *
 * Authors: Jack Morice                                                     *
 * EECS 581: Group 21 Project 3                                             *
 * ------------------------------------------------------------------------ *
 * Code-sino Crash Style                                                    *
 * Inputs/Outputs                                                           *
 *  Inputs:     None                                                        *
 *  Outputs:    Website Design                                              *
 * Purpose: The CSS Styling Section for crash in Codesino                   *
 * ======================================================================== */

 h1 {
    text-align: center;
    color: white;
    font-family: "fira-code", monospace;
    font-size: 30px;
 }
h2 {
    text-align: center;
    color: white;
    font-family: "fira-code", monospace;
    font-size: 25px;
}
#bet-area {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
#graph-area {
    text-align: center;
    margin-top: 20px;
}
#multiplier {
    font-size: 40px;
    font-family: "fira-code", monospace;
    color:greenyellow;
    font-weight: bold;
}
body {
    color: white;
    background-color: black;
}
 #top {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
 }

 #bottom {
   position: fixed;
   bottom: 50%;
   left: 0;
   width: 100%;
 }

 #back {
   position: fixed;
   bottom: 0;
   right: 0;
   height: 60px;
   width: 260px;
 }